#lunch.jpg{
    width:20%;
    height: 20%;
}

#morefood.jpg {
    width: 20%; 
    height: 20%;
}

#wens.jpg {
    width: 20%;
    height: 20%;
}

#thurs.jpg {
    width: 20%;
    height: 20%;
}

#fri.jpg {
    width:20%;
    height: 20%;
}

#sat.jpg {
    width:20%;
    height:20%;
}

#sun.jpg {
    width: 20%;
    height:20%; 

}

div {
    border: solid 2px black;
    margin: 8px;
    text-align: center;
    width: 25%;
   
} 

 body {
    align-content: left;
    text-align: center;
    display: flex;
    background-color: lightpink
}


#title {
    position: fixed;
}

.jpg {
    width: 100%;
}